body{
        font-family: 'Titillium Web', sans-serif;
      }
      .bg-purple{
        background-color: #87509c;   
      }
      #navtop{
        padding-top: 57px;
      }
      #navb a{
          margin-left: 45px;
          border-radius: 10px;
          padding:10px 17px;
      }
      #navb a:hover{
        background-color: #643a79;
      }
      #headertext{
        font-weight: bolder;
        padding:145px 0px 62px 0px;
      }
      #btn-work-with-us{
        margin-bottom: 145px;
        background-color: #eb7d4b;
        padding: 28px 82px 25px 82px;
        border-bottom: solid 3px #c86a40;
      }