      body{
        font-family: 'Titillium Web', sans-serif;
      }
      .bg-purple{
        background-color: #87509c;   
      }
      #navtop{
        padding-top: 57px;
      }
      #navb a{
          margin-left: 45px;
          border-radius: 10px;
          padding:10px 17px;
      }
      #navb a:hover{
        background-color: #643a79;
      }
      #headertext{
        font-weight: bolder;
        padding:145px 0px 62px 0px;
      }
      #btn-work-with-us{
        margin-bottom: 145px;
        background-color: #eb7d4b;
        padding: 28px 82px 25px 82px;
        border-bottom: solid 3px #c86a40;
      }


      .bg-lightgreen{

        background-color: #17c2a4; 
      }


      .hr1{
        border: 2px solid black;
        opacity: 0.149;
        width: 87px;
      }


      #headertext1{
        font-size: 40px;
        padding-top: 121px;

      }

      #headertext2{
        font-size: 18pt;
        padding-bottom: 83px;

      }

      #headertext3{
        padding-top: 62px;
        font-size: 24px;
      }

      #headertext4{
        padding-top: 28px;
        font-size: 16px;

      }

      #greybilog{
        background-color: #878787;
        width: 200px; height: 200px;

      }

      .gbilog{
        margin-top: 83px;
        margin-bottom: 42px;
      }

      #headertext5{
        padding-top: 121px;
        color: #8993a4;
      }

      #headertext6{
        padding-top: 27px;
        color: #8993a4;
      }



      .align3{

        padding-bottom: 32px;
        color: #8ed4ef;
      }

      #p{
        margin-right: 34px;
        margin-bottom: 30px;

      }

      #navmid{

        padding-bottom: 128px;

      }

      #nav3rdlayer{

        padding-top: 119px;

      }


      .white{
        color: white;
      }

      .footer {
        padding-top: 35px;
        padding-bottom: 40px;
        padding-right: 240px;
        padding-left: 240px;
        background-color: #344b8e;
      }

      #sel4:hover{

        font-color: #319ccd;
      }

      .bg-white{

        background-color: #ffffff;
      }

      .headertext7{
        padding-bottom: 119px;
        
      }
      .bg-graaay{
        background-color: #e7f1f8;
      }

      .sel1{
        padding-top: 91px;
        padding-bottom: 125px;
      }

      #align4{
        padding-top: 88px;
      }

      #nav4rdlayer{
        padding-top: 120px;
      }

      .bg-whitey{
        background-color: #ffdd99;
      }

      .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      .button2 {
        background-color: #ebc985;
      }
      .button3 {
        background-color: #ebc985;
      } 
      .button4 {
        background-color: #ebc985;
      } 
      .button5 {
      background-color: #ebc985;
      } 

      #align5{
        padding-top: 48px;
      }

      #align6{
        padding-top: 61px;
      }
      #btn-load-more-projects{
        margin-bottom: 100px;
        background-color: #17c2a4;
        padding: 17px 29px 17px 29px;
        border-bottom: solid 1px #17c2a4;
      }

      .bg-pinky{
        background-color: #d74680;
      }

      #nav5rdlayer{
        padding-top: 120px;
      }

      #pinkishy{
        padding-top: 54px;
      }

      #pinkbilog{
        background-color: #878787;
        width: 100px; height: 100px;
      }

      #qoutes{
        width: 350px;
      }

      #bttom{
        padding-bottom: 132px;