html {
  scroll-behavior: smooth;
}

body{
  font-family: 'himagsikan', sans-serif;
}
.light{
  background-color: #3F81BE;   
}
#navtop{
  padding-top: 10px;
}
#navb a{
  margin-left: 20px;
  border-radius: 10px;
  padding: 10px 15px;
}
#navb a:hover{
  background-color: #610B21;
}
#headertext{
  font-weight: bolder;
  padding: 145px 0px 62px 0px;
}
.port{
  padding-bottom: 10px;      
}

.bg-pinky{
  background-color: #9486BD;
}
#htext{
  font-size: 40px;
  padding-top: 70px;
}
#personal{
  padding-top: 50px;
}
#personal1{
  padding-top: 50px;
}
#personal2{
  padding-top: 50px;
}
#personal3{
  padding-top: 50px;
}

#bilogpic{
  margin-top: 50px;
}
#obtv{
  padding-top: 10px;
  padding-bottom: 10px;
}
.name{
  padding-top: 30px;
}
.bg-greenie{
  background-color: #E3FF41;
}
.port1{
  padding-bottom: 30px;
}
.edu{
  padding-top: 30px;
}   
.bg-blacky{
  background-color: #9CB21C;
}
.port2{
  padding-bottom: 30px;
}
.train{
  padding-top: 30px;
}
.icon{
  font-size: 90px;
  padding-top: 50px;
}
.devicon-hober-hober:hover{
      transform: scale(2);
        position: center;
    }

    .footer-main-div
    {
      width: 100%;
      height:auto;
      margin:auto;
      background: #272727;
      padding: 20px 0px;


    }
    
    .devicon-hober

    {
      width: 100%;
      height: auto;
      margin: auto;


    }

    .devicon-hober ul

    {
      margin: 0px;
      padding: 0px;
      text-align: center;
    }

    .devicon-hober ul li

    {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0px 10px;
      border-radius: 100%;
      background: #C0C0C0;
    }

    .devicon-hober ul li a i

    {
      color: #FF0000;
      font-size: 25px;



    }

    .devicon-hober ul li i

    {
      line-height: 50px;
    }